
.sectionContainer{
  position: relative;
  z-index: 1;
  background-image: url("../../Assets/bbblurry\ \(1\).svg");
  min-height: 45rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.container{
    max-width: 1200px;
    margin: 6rem auto;
    margin-top: 0px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    background-color: rgba(255,255,255,0.03);
    

}

  .title{
    font-size: 3rem;
    font-weight: bold;
    align-self: center;
    margin: 10px auto;
    flex: 1;
    text-align: center;
  }

  .colHeading{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    align-self: center;
  }

.calendar{
  transform: scale(1.2);
}
  
@media (max-width: 767px) {
  .container{
    border-radius: 2rem;
    margin-bottom: 3rem;
  }
  
  .title{
    font-size: 2rem;
  }
  .calendar{
    transform: scale(1);
  }
}